<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-84726940850-ios-30d95a70d2e41fa46375ab</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>roashce.otf</string>
		<string>Southam.otf</string>
		<string>mitchela.ttf</string>
		<string>noctis.otf</string>
		<string>longline.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>AngelDemoRegular-Rpa03.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>push-to-talk</string>
		<string>voip</string>
	</array>
</dict>
</plist>
